<!DOCTYPE html>
<html lang="en">
 <head>
    <%- include('../partials/head') %>
    <title>Añadir producto</title>
 </head>
<body>
    <%- include('../partials/header') %>
    <main class='mainForm'>
        <form action="/addProduct" method="post" class="forms">
            <h1 class="titulares">Ingrese el nuevo producto</h1>
            <div class="container">
                <%- include('../partials/formProducts') %>
                <button type="submit" class="submit">Añadir producto</button>
            </div>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>