<!DOCTYPE html>
<html lang="en">
 <head>
    <%- include('../partials/head') %>
    <title>Editar producto</title>
 </head>
<body>
    <%- include('../partials/header') %>
    <main class="mainForm">
        <form action="/modifiedProduct" method="post" class="forms">
            <h1 class="titulares">Ingrese el producto</h1>
            <div class="container">
                <%- include('../partials/formProducts') %>
                <button type="submit" class="submit">Editar producto</button>
            </div>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>