/*VARIABLES*/
:root{
    --verde-claro: #e6ffef;
    --gris-claro: #ebebeb;
    --blanco: #FFF;
    --verde-botones: #3d6e64;
    --naranja: rgba(255, 72, 0, 0.753);
}

section.carrito{
    display: flex;
    flex-direction: column;
}

article.articulo{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-bottom: 5px;
}

article.articulo .imagen{
    width:80%;
    padding-left: 20px;
    margin: auto;
}

article.articulo .imagen img{
    width: 80%;
}

article.articulo .imagen, article.articulo .detalle,
article.articulo .color-prod, article.articulo .talle,
article.articulo .cantidad, article.articulo .precio,
article.articulo .elim{
    display: flex;
    flex-direction: row;
}

main.productcart h2{
    margin: 2%;
    font-size: 18px;
    text-align:start;
    background-color:var(--naranja);
    color: #FFF;
}

main.productcart{
    min-height: 100%;
}

main.productcart h3{
    font-size: 15px;
    text-align: center;
    font-weight: normal;
    color:#706c6c;
}

section.Resumen{
    display: none;
}

ul.tabla{
    display: none;
}

div.subtotal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    align-items: center;
    border-radius: 5px;
    background-color:var(--naranja);
    color: var(--blanco);
    width: 55vw;
    position: relative;
    left: 25%;
}

main.productcart p{
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    color:#706c6c;
}
main.productcart h4{
    font-size: 15px;
    text-align: center;
}

div.elim{
    border-left: var(--gris-claro);
    font-size: 20px;
}
    
div.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;

}
div.botones button{
    border-radius: 10px;
    padding: 15px 5px;
    margin: 5px;
    flex-grow: 1;
    border: none;
    color: var(--verde-botones);
    background-color: var(--verde-claro);
    box-shadow: 0px 0px 5px var(--verde-botones);
}

.botonelim {
    background-color: white;
    border-color: white;
    border: white;
    font-size: 100%;
    display: flex;
    position: relative;
    left: 50%;
    justify-content: center;
    align-items: center;
}


@media(min-width: 361px){
    section.carrito{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(6, auto);
        grid-template-areas: 'imagen nombre'
                             'imagen color'
                             'imagen talle'
                             'imagen cantidad'
                             'imagen precio'
                             'eliminar elminar';
        padding: 15px 20px;
        align-self: center;
    }
    
    section.carrito p{
        font-size: 14px;
    }
    
    article.articulo{
        display: contents;
        padding: 5px;
        margin-bottom: 5px;
    }
    
    article.articulo .imagen, article.articulo .detalle,
    article.articulo .color-prod, article.articulo .talle,
    article.articulo .cantidad, article.articulo .precio,
    article.articulo .elim{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    article.articulo .imagen{
        grid-area: imagen;
        place-self: start center;
        padding: 0px;
        width: 60%;
    }
    
    .imagen img{
        width: 100%;
    }
    
    article.articulo .detalle{
        grid-area: nombre;
    }
    
    article.articulo .color-prod{
        grid-area: color;
    }
    
    article.articulo .talle{
        grid-area: talle;
    }
    
    article.articulo .cantidad{
        grid-area: cantidad;
    }
    
    article.articulo .precio{
        grid-area: precio;
    }
    
    article.articulo .elim .botonelim{
        grid-area: eliminar;
        font-size: 20px;
        place-self: end end;
    }
}


@media(min-width: 769px){
    /* PRODUCT-CART*/
    .carrito-vacio{
        min-height: 400px;
    }

    .todo-junto{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }
    
    section.carrito{
        display: grid;
        grid-template-columns: repeat(7, auto);
        grid-template-rows: 20px;
        grid-auto-flow: row;
        row-gap: 15px;
        padding: 15px;        
        width: 70%; 
        grid-template-areas: none;
    }

    ul.tabla{
        display: contents;
        margin-bottom: 20px;
    }

    ul.tabla li{
        font-size: 20px;
        margin: 0% 2%;
        text-align: center;
        font-weight: normal;
        color: var(--negro);
    }

    article.articulo{
        display: contents;
    }

    article.articulo .imagen, article.articulo .detalle,
    article.articulo .color-prod, article.articulo .talle,
    article.articulo .cantidad, article.articulo .precio,
    article.articulo .elim{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .descrip-campo{
        display: none;
    }

    section.Resumen{
        display: flex;
        padding: 10px;
        flex-direction: column;
        justify-content: center ;
        color: #000;
        margin: 10px;
        width: 20%;
        background-color: var(--verde-claro);
    }

    div.subtotal{
        width: 35vw;
    }

    main.productcart section.carrito h3{
        display: none;
    }
    
    main.productcart section.carrito p{
        font-size: 15px;
        margin-right: 10%;
        text-align: center;
        font-weight: normal;
        color:#706c6c;
    }

    main.productcart section.Resumen h3{
        font-size: 20px;
        margin-right: 10%;
        text-align: center;
        font-weight: normal;
        color:#706c6c;
    }

    div.codigo-descuento {
        text-align: center;
    }

    .imagen img{
        width: 10vw;
    }

    div.botones{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 15px;
    }

    button.botonCarrito{
        border-radius: 10px;
        padding: 15px 5px;
        margin: 5px;
        flex-grow: 1;
        color: var(--verde-fit);
        background-color: var(--gris-claro);
        box-shadow: 0px 0px 0px --gris-claro;
    }

}