/*VARIABLES*/
:root{
    --verde-claro: #e6ffef;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --blanco: #FFF;
    --negro: #000;
    --verde-keep: #4fb59f;
    --verde-botones: #3d6e64;
    --verde-fit: rgb(105, 230, 56);
    --naranja: rgba(255, 72, 0, 0.753);
}

/*PERFIL DE USUARIO*/
.profileUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.perfilTituloEdit {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: var(--verde-keep);
    color: var(--blanco);
    font-family: 'Coming Soon', 'sans-serif';
    padding: 0 10px 0 10px;
    margin-top: 30px;
    border-radius: 3px;
}

.perfilTituloEdit i {
    font-size: 2rem;
    color: var(--gris-claro);
}

.perfilTituloEdit i:hover {
    color: var(--blanco);
    transition: .3s all;
}


.userInformation {
    font-family: 'Truculenta', 'sans-serif';
    border: 1px solid #7cd6c3;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #82fdd4;
    width: 90%;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
    align-items: center;
    justify-items: center;
}

.titleBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.titleBox h2 {
    font-size: 2rem;
    color: var(--verde-keep);
}

.tituloImagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profileImage{
    width: 30vw;
    border-radius: 15px;
}

.datos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#tituloDatos {
    font-size: 2rem;
    color: var(--verde-keep);
}

.userBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.7rem;
    color: var(--verde-keep);
    border: 2px solid var(--verde-keep);
    border-radius: 5px;
    padding: 5px;
}

.userBox h4 {
    color: var(--verde-botones);
}

.logOut {
    margin-bottom: 30px;
    font-size: 2rem;
    font-family: 'Truculenta', 'sans-serif';
    font-weight: bolder;
}

.logOut button {
    color: var(--blanco);
    border: none;
    border-radius: 5px;
    background: var(--naranja);
    padding: 10px;
    letter-spacing: 2px;
}

.logOut button:hover {
    background: rgba(255, 72, 0, 0.966);
    padding: 10px 23px 10px 23px;
    letter-spacing: 0;
    transition: .3s all;
}

.logOut button:not(:hover) {
    background: var(--naranja);
    padding: 10px;
    transition: .3s all;
}



@media (max-width: 769px){
    .profileUser {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .perfilTituloEdit {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        background-color: var(--verde-keep);
        color: var(--blanco);
        font-family: 'Coming Soon', 'sans-serif';
        padding: 0 10px 0 10px;
        margin-top: 30px;
        border-radius: 3px;
    }

    .perfilTituloEdit i {
        font-size: 2rem;
        color: var(--gris-claro);
    }

    .perfilTituloEdit i:hover {
        color: var(--blanco);
        transition: .3s all;
    }


    .userInformation {
        font-family: 'Truculenta', 'sans-serif';
        border: 1px solid #7cd6c3;
        border-radius: 5px;
        box-shadow: 0px 0px 15px #82fdd4;
        width: 90%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titleBox {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .titleBox h2 {
        font-size: 7vw;
        color: var(--verde-keep);
        order: 1;
    }

    .tituloImagen {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .profileImage{
        width: 30vw;
        border-radius: 15px;
        order: 2;
    }

    .datos {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        order: 4;
    }

    #tituloDatos {
        font-size: 7vw;
        color: var(--verde-keep);
        order: 3;
    }

    .userBox {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 6vw;
        color: var(--verde-keep);
        border: 2px solid var(--verde-keep);
        border-radius: 5px;
        padding: 5px;
    }

    .userBox h4 {
        color: var(--verde-botones);
    }

    .logOut {
        margin-bottom: 30px;
        font-size: 2rem;
        font-family: 'Truculenta', 'sans-serif';
        font-weight: bolder;
    }

    .logOut button {
        color: var(--blanco);
        border: none;
        border-radius: 5px;
        background: var(--naranja);
        padding: 10px;
        letter-spacing: 2px;
    }

    .logOut button:hover {
        background: rgba(255, 72, 0, 0.966);
        padding: 10px 23px 10px 23px;
        letter-spacing: 0;
        transition: .3s all;
    }

    .logOut button:not(:hover) {
        background: var(--naranja);
        padding: 10px;
        transition: .3s all;
    }

}