<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/partials/OnlyAdmin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&family=Truculenta:opsz,wght@12..72,100..900&display=swap" rel="stylesheet">
    <title>Error</title>
</head>
<body>
    <div id="container">
        <img src="/img/OnlyAdmin.jpg" id="image-OnlyAdmin">
        <div id="container-2">
            <h1>¡Oops!</h1>
            <h2>Esta página es solo para administradores</h2>
            <div id="container-a">
                <a href="/">Volver al Inicio</a>
            </div>
        </div>
    </div>
</body>
</html>