<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Admin Panel</title>
</head>
<body>
    <%- include('../partials/header') %>

    <main>
        <h1>Panel de control</h1>
        <div class="main-container">
            <h3>Bienvenido <%= locals.userLogged.first_name %></h3>
            <div class="buttons-container">
                <a href="/products/list" id="productList">Todos los productos</a>
                <a href="/products/getProduct" id="productCreate">Agregar Producto</a>
                <a href="http://localhost:5173">Ir al dashboard</a>

                <div id="container-a">
                    <a href="/users/profile" id="volverPerfil">Volver al Perfil</a>
                </div>
            </div>
        </div>
        
    </main>

    <%- include('../partials/footer') %>
</body>
</html>