<div class="group">
    <input type="text" id="name" name="name" class="input" placeholder=" ">
    <label for="name" class="label">Nombre del producto</label>
    <span class="line"></span>
</div>
<div class="group">
    <input type="file" id="productImage" name="productImage" class="input" placeholder=" ">
    <label for="productImage" class="label">Imagen del producto</label>
    <span class="line"></span>
</div>
<div class="group">
    <input type="number" id="price" name="price" class="input" placeholder=" ">
    <label for="price" class="label">Precio del producto</label>
    <span class="line"></span>
</div>
<div class="group">
    <input type="text" id="description" name="description" class="input" placeholder=" ">
    <label for="description" class="label">Descripción del producto</label>
    <span class="line"></span>
</div>
<div class="group">
    <input type="text" id="color" name="color" class="input" placeholder=" ">
    <label for="color" class="label">Color del producto</label>
    <span class="line"></span>
</div>
<div class="group">
    <input type="number" id="talle" name="talle" class="input" placeholder=" ">
    <label for="talle" class="label">Talle del producto</label>
    <span class="line"></span>
</div>
<div class="group">
    <input type="number" id="stock" name="stock" class="input" placeholder=" ">
    <label for="stock" class="label">Stock del producto</label>
    <span class="line"></span>
</div>
<div class="group">
    <input type="carcter" id="sexo" name="sexo" class="input" placeholder=" ">
    <label for="sexo" class="label">Sexo del producto</label>
    <span class="line"></span>
</div>
