<header>
    <div class="header">
        <a href="/" id="logo"><img class="logo" src="/img/logo.png" alt="Logo de Keep Fit Kids"></a>
        <form class="form" action="/products/resultssearch" method="GET">
            <input type="search" id="search" name="search" placeholder="Buscar productos"/>
            <button type="submit" class="icon" name="lupa"><i class="fa fa-search"></i></button>
        </form>
        <a href="/products/productCart" id="product-cart"><p>Mis compras</p><i class="fa-solid fa-cart-shopping"></i></a>
        <a href="/users/login" id="circle-user"><p>Iniciar sesion</p><i class="fa-solid fa-circle-user"></i></a>      
    </div>
</header>