<header>
    <div class="header">
        <a href="/" id="logo"><img class="logo" src="/img/logo.png" alt="Logo de Keep Fit Kids"></a>
        <form class="form" action="/products/resultssearch" method="GET">
            <input type="search" id="search" name="search" placeholder="Buscar productos"/>
            <button type="submit" class="icon" name="lupa"><i class="fa fa-search"></i></button>
        </form>
        <% if(locals.isLogged) {%>
            <a href="/products/productCart" id="product-cart"><p id="misCompras">Mis compras</p><i class="fa-solid fa-cart-shopping" id="cartIcon"></i></a>
            <div id="userWelcomeImage">
                <p id="bienvenidoP">Bienvenido <br> <%= locals.userLogged.name %></p>
                <a href="/users/profile" id="circle-user"><img src="/img/users/<%= locals.userLogged.avatar%>" id="userImageHeader"></a>
            </div>
            
        <% } else { %> 
            <a href="/users/login" id="logIn"><p id="pLogIn">Iniciar sesion</p><i class="fa-solid fa-right-to-bracket" id="iLogIn"></i></a> 
            <% } %>
            <div class="openCloseMenu">
                <a href="#menuMobile" class="openMenuMobile"><i class="fa-solid fa-bars" id="openMenuMobile"></i></a>
                <a href="#" class="closeMenuMobile"><i class="fa-solid fa-xmark" id="closeMenuMobile"></i></a>
            </div>
            <div class="menuMobile" id="menuMobile">
                <h2 id="menuH2">Menu</h2>
                <form class="formMobile" action="/products/resultssearch" method="GET">
                    <input type="search" id="searchMobile" name="search" placeholder="Buscar productos"/>
                    <button type="submit" id="iconMobile" name="lupa"><i class="fa fa-search"></i></button>
                </form>
                <% if(locals.isLogged) { %>
                    <a href="/products/productCart" id="product-cartMobile"><p id="misComprasMobile">Mis compras</p><i class="fa-solid fa-cart-shopping" id="cartIcon"></i></a>
                <% } %>
            </div>
        </div>
    </header>