<footer>
    <div class="cont-info1">     
        <div id="icon">
            <i class="fa-solid fa-truck" id="truck"></i>            
        </div>       
        <div class="info">
            <h4 class="titulares">ENVIO GRATIS</h4>
            <P class="description">En compras superiores a $20.000</P>
        </div>
    </div>
    <div class="cont-info2">
        <div id="icon">
            <i class="fa-regular fa-credit-card" id="credit-card"></i>            
        </div>
        <div class="info">
            <h4 class="titulares">PAGÁ EN 3 CUOTAS SIN INTERÉS</h4>
            <p class="description">y hasta en 6 cuotas sin interés a partir de $40.000</p>
        </div>
    </div>
    <div class="conteiner">
        <h4 class="titulares">¡Seguinos en nuestras redes sociales!</h4>
        <div class="icons">
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram" id="ig"></i></a>
            <a href="https://www.facebook.com/?locale=es_LA" target="_blank"><i class="fa-brands fa-facebook" id="fb"></i></a>
            <a href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-twitter" id="tw"></i></a>
            <a href="https://mail.google.com/?hl=es" target="_blank"><i class="fa-regular fa-envelope" id="mail"></i></a>
            <a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp" id="wpp"></i></a>
        </div>
    </div>
</footer>