@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&family=Roboto:wght@300&display=swap');

/*VARIABLES*/
:root{
    --blanco: #FFF;
    --verde-keep: #4fb59f;
    --naranja: rgba(255, 72, 0, 0.753);
}

/*FORMS*/
.mainForm{
    background-image: url('../img/Register-Background.jpg');
    background-size:contain;
    display: flex;
    min-height:80vh;
    
}

.forms{
    background-color: var(--blanco);
    margin: 30px auto;
    width: 90%;
    max-width: 400px;
    padding: 3.5em 2em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0, 0, 0, 30%);
    text-align: center;
}
.forms .titulares{
    font-size: 25px;
    margin-bottom: .5em;
    color: var(--naranja);
    background: none;
}
.forms .titulares .container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}
.group{
    position: relative;
    --color: #5757577e;
    padding-top: 15px;
    padding-left: 5px;
    padding-bottom: 3px;
}

.group .input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    margin-top: 1.5em;
    margin-bottom: .5em;
    border: none;
    outline: none;
    border-bottom: 1px solid (var--color);
}
.group .input:not(:placeholder-shown){
    color: grey;
}

.group .input:focus + .label,
.group .input:not(:placeholder-shown) + .label{
    transform: translateY(-20px) scale(.7);
    transform-origin: left top;
    color: var(--naranja);
}

.group .label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    font-size: 1.7rem;
    margin-top: 1.1em;
    top: 0;
    left: 5px;
    transform: translateY(0px);
    transition: transform 500ms, color 300ms;
}

.forms .submit{
    background: #6cd4be;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 5px 15px;
    margin-top: 1.5em;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.forms .submit:hover {
    background: var(--verde-keep);
    cursor: pointer;
    transition: .3s all;
}

.forms .submit:not(:hover) {
    background: #6cd4be;
    transition: .3s all;
}

.line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--naranja);
    transform: scale(0);
    transform: left bottom;
    transition: transform 400ms;
}

.group .input:focus ~ .line,
.group .input:not(:placeholder-shown) ~ .line{
    transform: scale(1);
}

.fbFormsProd{
    color: red;
}

div.group-remember{
    display: inline-block;
    margin: 1em;
}

.cuentaregister{
    margin: 1em;
}

.cuentaregister a {
    font-size: 1rem;
    color: var(--naranja);
}

.cuentaregister a:hover {
    color: var(--verde-keep);
    transition: .3s all;
}

.cuentaregister a:not(:hover) {
    color: var(--naranja);
    transition: .3s all;
}

#boton-volver {
    background: #6cd4be;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 5px 15px;
    margin-top: 1.5em;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    width: 100%;
}

#boton-volver:hover {
    background: var(--verde-keep);
    transition: .3s all;
}

#boton-volver:not(:hover) {
    background: #6cd4be;
    transition: .3s all;
}

#botones-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#container-a {
    width: 100%;
    display:flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

#container-a a {
    background: rgb(255, 72, 0);
    text-decoration: none;
    color: #FFF;
    padding: 5px 15px;
    border-radius: 5px;
    z-index: 10;
    font-family: 'Truculenta';
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
}

#container-a a:hover {
    background: rgb(255, 123, 0);
    letter-spacing: 0;
    padding: 5px 18px;
    transition: .3s all;
}

#container-a a:not(:hover) {
    background: rgb(255, 72, 0);
    letter-spacing: 1px;
    transition: .3s all;
}

@media(min-width: 361px){
    /*FORMS*/
    .forms .titulares{
        font-size: 2rem;
    }
    
    .group .input{
        font-size: 1rem;
    }

    div.group-remember {
        margin: 2em;
    }

    .remember-text {
        font-size: 1.2rem;
    }
    
    .forms .submit{
        font-size: 1.5rem;
    }
    
    .label{
        font-size: 1rem;
    }

    .cuentaregister a {
        font-size: 1.1rem;
    }
}

@media(min-width: 769px){
        /*FORMS*/
        
        .forms .titulares{
            font-size: 2;
        }
        
        .group .input{
            font-size: 1rem;
        }
        
        .remember-text {
            font-size: 1.3rem;
        }

        .forms .submit{
            font-size: 1.5rem;
        }
        
        .label{
            font-size: 1.1rem;
        }

        .cuentaregister a {
            font-size: 1.3rem;
        }
}

@media(min-width: 1023px){
    /*FORMS*/
    

    .forms .titulares{
        font-size: 2.3rem;
    }
    
    .group .input{
        font-size: 1.5rem;
    }
        
    .forms .submit{
        font-size: 1.5rem;
    }
        
    .label{
        font-size: 1.3rem;
    }

    .group .input:focus + .label,
    .group .input:not(:placeholder-shown) + .label{
    transform: translateY(-24px) scale(.7);
    }

    .group .label{
        margin-top: 1.7em;
        transform: translateY(1px);
    }

}

