<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fit Keep Kids</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Coming+Soon&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header>
        <div class="header">
            <a href="/" id="logo"><img class="logo" src="static/img/logo.png" alt="Logo de Keep Fit Kids"></a>
            <form class="form" action="/" method="GET">
                <input type="search" id="search" name="search" placeholder="Buscar productos"/>
                <button type="submit" class="icon" name="lupa"><i class="fa fa-search"></i></button>
            </form>
            <a href="/productCart" id="product-cart"><p>Mis compras</p><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="/login" id="circle-user"><p>Iniciar sesion</p><i class="fa-solid fa-circle-user"></i></a>      
        </div>
    </header>
    <main class="detailmain">
        <div class="productandprice">
            <section class="productimg">
                <img class="prod" src="static/img/nenas/top_verde.jpg">
            </section>
            <section class="priceandinfo">
                <h1 class="nameofproduct">Top deportivo infantil para niñas Aerofit</h1>
                <br>
                <h2 class="priceofproduct">$6.500,00</h2>
                <div class="logistic">
                <i class="fas fa-truck"></i>
                <h4 class="freesend">Envío Gratis</h4>
                </div>
                <h2 class="mediodepago">Medios de pago:</h3>
                <div class="logocards">
                    <img class="visacard" src="static/img/logomastercard.png">
                    <img class="visacard" src="static/img/logovisa.png">
                </div>
                
                <div class="opcionesdecompra">

                <form class="formdecomprar" action="/productCart" method="GET">
                    <div class="divcolors">
                    <label>Seleccione un color</label>
                    <select class="colord" name="colorstock">
                    <option value="#51B59F">Verde</option>
                    <option value="#FF0000">Rojo</option>
                    <option value="#000000">Negro</option>
                    </select>
                    </div>
                    <br>
                    <div class="divtalles">
                    <label>Seleccione un talle</label>
                    <select class="tallesd" name="tallestock">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">2</option>
                    </select>
                    </div>
                    <br>
                    <div class="seleccioncuant">
                    <label>Selecciona la cantidad</label>
                    <input class="cuantd" type="text" name="cantidad">
                    </div> 
                    <div class="buttonagregar">
                    <button type="submit" value="Agregar">
                        <p>Agregar al carrito</p>
                    </button>   
                    </div>  
                </form>

                </div>


            </section>
        </div>
        <div class="description">
            <h1>DESCRIPCIÓN</h1>
            <br>
            <br>
            <p> TOP DEPORTIVO MICROFIBRA LYCRA 70 ELASTICO CON RELIEVE</p>
            <br>
            <p> EXCELENTE AGARRE </p>
            <br>
            <p> Garantía del vendedor: 30 días</p>
            <br>
            <p>Ideal para hacer ejercicio en gimnasio o al aire libre. La mejor calidad y los mejores precios.</p>

        </div>
        <div class="commentbox">
            <form action="/contact" method="POST">
                <label>Comentarios sobre el producto</label>
                <br>
                <textarea name="comment" class="commentarea">Deje su comentario...</textarea>

            </form>

        </div>
    </main>
</body>
</html>