<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fit Keep Kids</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Coming+Soon&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <header>
        <div class="header">
            <a href="/" id="logo"><img class="logo" src="static/img/logo.png" alt="Logo de Keep Fit Kids"></a>
            <form class="form" action="/" method="GET">
                <input type="search" id="search" name="search" placeholder="Buscar productos"/>
                <button type="submit" class="icon" name="lupa"><i class="fa fa-search"></i></button>
            </form>
            <a href="/productCart" id="product-cart"><p>Mis compras</p><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="/login" id="circle-user"><p>Iniciar sesion</p><i class="fa-solid fa-circle-user"></i></a>      
        </div>
    </header>

    <section class="banner">
        <img src="static/img/banner.png" alt="Banner">
    </section>

    <main>
        <div class="eleccion">
            <div class="niños">
                <a href="#" id="niños"><img src="static/img/nenes/nenes.png" alt="Imagen niños"></a>
            </div>
            <br>
            <br>
            <div class="niñas">
                <a href="#" id="niñas"><img src="static/img/nenas/nenas.png" alt="Imagen niñas"></a>
            </div>
        </div>
        
        
        <section class="nuevos-ingresos">
            <div id="titulares">
                <h4 class="titulares">  NUEVOS INGRESOS  </h4>
            </div>
            <article class="article">
                <img src="static/img/nenes/10.png" alt="Short de baño" class="product_img">
                <p class="price">$12.500</p>     
                <h4 class="description">Short de baño</h4>                
            </article>

            <article class="article">
                <img src="static/img/nenes/13.png" alt="Short de baño" class="product_img">
                <p class="price">$13.000</p>                                             
                <h4 class="description">Short de baño</h4>                
            </article>

            <article class="article">
                <img src="static/img/nenes/11.png" alt="Remera" class="product_img">
                <p class="price">$14.080</p>     
                <h4 class="description">Remera</h4>
            </article>

            <article class="article">
                <img src="static/img/nenes/14.png" alt="Conjunto remera y short" class="product_img">
                <p class="price">$25.290</p>                                               
                <h4 class="description">Conjunto remera y short</h4>                
            </article>

            <article class="article">
                <a href="/productCart">
                    <img src="static/img/nenas/15.png" alt="Top" class="product_img">
                    <p class="price">$6.500</p>                   
                    <h4 class="description">Top</h4> 
                </a>               
            </article>

            <article class="article">
                <img src="static/img/nenas/16.png" alt="Conjunto top y pollera" class="product_img">
                <p class="price">$17.350</p>                                         
                <h4 class="description">Conjunto top y pollera</h4>                
            </article>

            <article class="article">
                <img src="static/img/nenas/14.png" alt="Malla" class="product_img">
                <p class="price">$14.780</p>                                                
                <h4 class="description">Malla</h4>                
            </article>

            <article class="article">
                <img src="static/img/nenas/17.png" alt="Bikini" class="product_img">
                <p class="price">$15.320</p>                                               
                <h4 class="description">Bikini</h4>                
            </article>
        </section>
    </main>

    <footer>
        <div class="cont-info1">     
            <div id="icon">
                <i class="fa-solid fa-truck" id="truck"></i>            
            </div>       
            <div class="info">
                <h4 class="titulares">ENVIO GRATIS</h4>
                <P class="description">En compras superiores a $20.000</P>
            </div>
        </div>
        <div class="cont-info2">
            <div id="icon">
                <i class="fa-regular fa-credit-card" id="credit-card"></i>            
            </div>
            <div class="info">
                <h4 class="titulares">PAGÁ EN 3 CUOTAS SIN INTERÉS</h4>
                <p class="description">y hasta en 6 cuotas sin interés a partir de $40.000</p>
            </div>
        </div>
        <div class="conteiner">
            <h4 class="titulares">¡Seguinos en nuestras redes sociales!</h4>
            <div class="icons">
                <i class="fa-brands fa-instagram" id="ig"></i>
                <i class="fa-brands fa-facebook" id="fb"></i>
                <i class="fa-brands fa-twitter" id="tw"></i>
                <i class="fa-regular fa-envelope" id="mail"></i>
                <i class="fa-brands fa-whatsapp" id="wpp"></i>
            </div>
        </div>


    </footer>
    
</body>
</html>