<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresa a tu cuenta</title>
    <link rel="stylesheet" href="/public/css/stylesform.css">
</head>
<body>
    <form class="form">
        <h2 class="titulo">Ingresa a tu cuenta</h2>
        <div class="container">
            <div class="group">
                <input type="email" id="email" class="input" placeholder=" ">
                <label for="email" class="label">Email:</label>
                <span class="line"></span>
                <input type="checkbox" id="checkbox">
                <label for="checkbox" class="label">Recordarme</label>
            </div>
            <div class="group">
                <input type="text" id="password" class="input" placeholder=" ">
                <label for="password" class="label">Contraseña: </label>
                <span class="line"></span>
            </div>
            

            <input type="submit" class="submit" value="Ingresar">
        </div>
    </form>
</body>
</html>