<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Coming+Soon&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header>
        <div class="header">
            <a href="/" id="logo"><img class="logo" src="static/img/logo.png" alt="Logo de Keep Fit Kids"></a>
            <form class="form" action="/" method="GET">
                <input type="search" id="search" name="search" placeholder="Buscar productos"/>
                <button type="submit" class="icon" name="lupa"><i class="fa fa-search"></i></button>
            </form>
            <a href="/productCart" id="product-cart"><p>Mis compras</p><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="/login" id="circle-user"><p>Iniciar sesion</p><i class="fa-solid fa-circle-user"></i></a>      
        </div>
    </header>
    
    <main class="productcart">
        <h2 class="carrito">Mi Carrito</h2>
        <section class="Carrito">
            
                <ul type="none" class="tabla">
                    <li>Producto</li>
                    <li>Detalle</li>
                    <li>Color</li>
                    <li>Talle</li>
                    <li>Cantidad</li>
                    <li>Precio</li>
                </ul>
             <article class="articulo">
                <h3>Producto</h3>
                <div class="imagen">
                    <img src="/static/img/nenas/top_verde.jpg" alt="top_verde">
                    <br>
                </div>
                <div class="detalle">
                    <p>Top deportivo infantil<br>
                        para niñas Aerofit<br></p>
                    <br>
                </div>
                <div class="color-prod">
                    <label class="titulo">Color:</label>
                    <select class="color" name="colortop">
                        <option value="#51B59F">Verde</option>
                        <option value="#FF0000">Rojo</option>
                        <option value="#000000">Negro</option>
                    </select>
                    <br>
                </div>
                <div class="talle">
                    <label class="titulo">Talle:</label>
                    <select name="select" id="talle">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <br>
                </div>
                <div class="cantidad">
                    <label class="titulo">Cantidad:</label>
                    <select name="select" id="cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <br>
                </div>
                <div class="unitario">
                    <p>$6.500,00</p>
                    <br>
                </div>
                <div class="elim">
                    <i class="fa-solid fa-trash-can"></i>
                    <br>
                </div>
            </article>
        </section>

        <div class="subtotal">
            <h4>Subtotal</h4>
            <h4>$ 6.500,00</h4>
        </div>

        <section class="Resumen"> 
            <h3>RESUMEN</h3>
            <div class="subtotal-art">
                <h3>Subtotal</h3>
                <p>$ 6.500,00</p><br>
            </div>
            <div class="envio">
                <h3>Envio</h3>
                <p>$ 0,00</p><br>
            </div>
            <div class="codigo-descuento">
                <H3>Cod.Descuento:</H3><br>
                <input type="descuento" name="codigo-desc">
            </div>
            <div class="Total">
                <h3><b></b>Total</h3>
                <p><b></b>$ 6.500,00</p><br>
            </div>    
        </section>

        <div class="botones">
            <button type="submit" name="continuar" alt="#">CONTINUAR</button>
            <button type="submit" name="finalizar" alt="#">FINALIZAR</button>
        </div>

    </main>
    <footer>
        <div class="cont-info1">     
            <div id="icon">
                <i class="fa-solid fa-truck" id="truck"></i>            
            </div>       
            <div class="info">
                <h4 class="titulares">ENVIO GRATIS</h4>
                <P class="description">En compras superiores a $20.000</P>
            </div>
        </div>
        <div class="cont-info2">
            <div id="icon">
                <i class="fa-regular fa-credit-card" id="credit-card"></i>            
            </div>
            <div class="info">
                <h4 class="titulares">PAGÁ EN 3 CUOTAS SIN INTERÉS</h4>
                <p class="description">y hasta en 6 cuotas sin interés a partir de $40.000</p>
            </div>
        </div>
        <div class="conteiner">
            <h4 class="titulares">¡Seguinos en nuestras redes sociales!</h4>
            <div class="icons">
                <i class="fa-brands fa-instagram" id="ig"></i>
                <i class="fa-brands fa-facebook" id="fb"></i>
                <i class="fa-brands fa-twitter" id="tw"></i>
                <i class="fa-regular fa-envelope" id="mail"></i>
                <i class="fa-brands fa-whatsapp" id="wpp"></i>
            </div>
        </div>
    </footer>
</body>
</html>