<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registra una cuenta</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Coming+Soon&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="static/css/login-register.css">
</head>
<body>
    <header>
        <div class="header">
            <a href="/" id="logo"><img class="logo" src="static/img/logo.png" alt="Logo de Keep Fit Kids"></a>
            <form class="form" action="/" method="GET">
                <input type="search" id="search" name="search" placeholder="Buscar productos"/>
                <button type="submit" class="icon" name="lupa"><i class="fa fa-search"></i></button>
            </form>
            <a href="/productCart" id="product-cart"><p>Mis compras</p><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="/login" id="circle-user"><p>Iniciar sesion</p><i class="fa-solid fa-circle-user"></i></a>      
        </div>
    </header>
        <form class="form">
            <h2 class="titulo">Registra una cuenta</h2>
            <div class="container">
                <div class="group">
                    <input type="email" id="email" class="input" placeholder=" ">
                    <label for="email" class="label">Email:</label>
                    <span class="line"></span>
                </div>
                <div class="group">
                    <input type="text" id="password" class="input" placeholder=" ">
                    <label for="password" class="label">Contraseña: </label>
                    <span class="line"></span>
                </div>
                <input type="submit" class="submit" value="Registrarse">
            </div>
        </form>
</body>
</html>