/*VARIABLES*/
:root{
    --verde-claro: #e6ffef;
    --gris-oscuro: #666;
    --blanco: #FFF;
}

/*HEADER*/
header{
    background-color: var(--verde-claro);
    max-height: 120px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

a#logo{
    width: 50%;
}

.logo{
    width: 100%;
}

#search{
    display: none;
}

header .icon{
    border: none;
    background-color: var(--verde-claro);
}

#product-cart, #circle-user, header .icon, #logIn{
    color: var(--gris-oscuro);
    font-size: 6vw;
    margin: 2px;
}

#product-cart p, #circle-user p, #logIn p{
    display: none;
}

@media (min-width: 361px) {
    /*HEADER*/
    a#logo{
        width: 25%;
    }

    header .form input{
        width: 25%;
    }
    
    header .form{
        display: flex;
        align-items: center;
        padding: 15px 2px;
        position: relative;
    }

    .form .icon, #search{
        display: block;
        align-self: center;
        border-radius: 5px;
        border-color: var(--blanco);
        height: 30px;
    }
    
    header .form input[type="search"]{
        border: none;
        background-color: var(--blanco);
        outline: none;
        color: var(--gris-oscuro);
        padding-left: 10px;
        width: 160px;
    }
    
    header .form .icon{
        background-color: var(--blanco);
        border: 1px solid var(--blanco);
        color: var(--gris-oscuro);
        width: 18px;
        position: absolute;
        padding: 2px;
        left: 142px;
        bottom: 13px;
        font-size: 21px;
    }
    
    header .form .icon i{
        font-size: 14px;
    }

    #product-cart, #circle-user, #logIn{
        font-size: 21px;
    }
}

@media (min-width: 769px){
    /*HEADER*/
    header{
        max-height: 200px;
    }

    /*logo*/
    a#logo{
        width: 25%;
    }

    .logo{
        max-width: 175px;
    }

    /*form*/
    .form .icon, #search{
        height: 40px;
    }
    
    header .form input[type="search"]{
        font-size: 14px;
        padding-left: 15px;
        width: 220px;
    }
    
    header .form .icon{
        border-left: var(--gris-oscuro);
        width: 20px;
        left: 197px;
        bottom: 13px;
    }

    header .form .icon i{
        font-size: 20px;
    }

    /*product-cart y circle-user*/
    #product-cart p, #circle-user p, #logIn p{
        display: block;
        font-size: 15px;
    }

    #product-cart, #circle-user, #logIn{
        display: flex;
        flex-wrap: wrap; 
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        text-decoration: none;
    }

    #product-cart i, #circle-user i, #logIn i{
        font-size: 18px;
    }
}

@media (min-width:1023px){
    /*HEADER*/
    header{
        max-height: 280px;
    }

    /*logo*/
    a#logo{
        width: 25%;
    }

    .logo{
        max-width: 250px;
    }

    /*form*/
    .form .icon, #search{
        height: 45px;
    }
        
    header .form input[type="search"]{
        font-size: 18px;
        padding-left: 15px;
        width: 300px;
    }
        
    header .form .icon{
        border-left: var(--gris-oscuro);
        width: 25px;
        height: 20px;
        left: 273px;
        bottom: 29px;
    }

    header .form .icon i{
        font-size: 24px;
    }

    /*product-cart y circle-user*/
    #product-cart p, #circle-user p, #logIn p{
        display: block;
        font-size: 20px;
    }

    #product-cart, #circle-user, #logIn{
        display: flex;
        flex-wrap: wrap; 
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        text-decoration: none;
    }

    #product-cart i, #circle-user i, #logIn i{
        font-size: 20px;
    }
}