<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
        <title>Ingresa a tu cuenta</title>
    </head>

<body>
    <%- include('../partials/header') %>
    <main class="mainForm">
        <form action="/users/singIn" method="POST" class="forms">
            <h2 class="titulares">Ingresa a tu cuenta</h2>
            <div class="container">
                <div class="group">
                    <input type="email" id="email" class="input" placeholder=" ">
                    <label for="email" class="label">Email:</label>
                    <span class="line"></span>
                </div>
                <div class="group">
                    <input type="password" id="password" class="input" placeholder=" ">
                    <label for="password" class="label">Contraseña: </label>
                    <span class="line"></span>
                </div>
                <div class="group-remember">
                    <input type="checkbox" id="remember" class="remember">
                    <label for="remember" class="remember-text">Recordarme</label>
                </div>
                <div class="cuentaregister">
                    <a href="/users/register"><p>¿No tenés cuenta? ¡Regístrate!</p></a>
                </div>
                <input type="submit" class="submit" value="Ingresar">
            </div>
        </form>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>